<!DOCTYPE html>
<html>

<head>
    <title>2dqg</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0" />
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="/static/assets/css/style.css" rel="stylesheet" media="screen" />
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>2dqg - the 2d quiz generator</h1>
                </div>
            </div>
        </div>

    </header>
    <content>

        {% block content %} {% endblock %}

    </content>
</body>

</html>
