{% extends "layout.html" %}
{% block content %}
		<h1>Dual-axis quiz creator</h1>
		<p>v0idpwn.gitub.io</p>
		<form method="POST" action="/make">
		<div id="Question">
			<label>Question:</label> <input type="text" name="question[]" size = "70">
			<table>
				<tr>
					<th>Answer</th>
					<th>X</th>
					<th>Y</th>
				</tr>
				<tr>
					<th>Strongly agree:</th>
					<th><input type="number" maxlength="4" size="4" name="stronglyAgreeX[]"></th> 
					<th><input type="number" maxlength="4" size="4" name="stronglyAgreeY[]"></th>
				</tr>
				<tr>
					<th>Agree:</th>
					<th><input type="number" maxlength="4" size="4" name="agreeX[]"></th> 
					<th><input type="number" maxlength="4" size="4" name="agreeY[]"></th>
				</tr>
				<tr>
					<th>Neutral:</th>
					<th><input type="number" maxlength="4" size="4" name="neutralX[]"></th> 
					<th><input type="number" maxlength="4" size="4" name="neutralY[]"></th>
				</tr>
				<tr>
					<th>Disagree:</th>
					<th><input type="number" maxlength="4" size="4" name="disagreeX[]"></th> 
					<th><input type="number" maxlength="4" size="4" name="disagreeY[]"></th>
				</tr>
				<tr>
					<th>Strongly disagree:</th>
					<th><input type="number" maxlength="4" size="4" name="stronglyDisagreeX[]"></th> 
					<th><input type="number" maxlength="4" size="4" name="stronglyDisagreeY[]"></th>
				</tr>
			</table>
		</div>
		<input type="button" value="Add another text input" onClick="addInput('Question');">
		<input type="submit" value="Submit">
		</form>
		<script type="text/javascript" src="/static/scripts.js"></script>
{% endblock %}
