body            { font-family: sans-serif; background: #eee;}
a, h1, h2       { color: #377ba8;}
h1, h2          { font-family: 'Georgia', serif; margin: 0;}
header          { border-bottom: 2px solid #424242;}
h2              { font-size: 1.2em; margin-bottom: 4px;}
.qTitle			{ margin-top: 20px;}
canvas			{ border: 1px solid black;}
