{% extends "layout.html" %}
{% block content %}
		<form method="POST" action="/quiz/{{quizid}}/answer" id="form">
		<h2 class="qTitle">{{name[0]}}</h2>
		<p>Evaluate those propositions according to your opinion</p>
		{% for question in questions %}
		<h4>{{question[0]}}</h4>
		<input type="radio" name="opinion[{{loop.index}}]" value="stronglyAgree"> Strongly Agree <br>
		<input type="radio" name="opinion[{{loop.index}}]" value="agree"> Agree <br>
		<input type="radio" name="opinion[{{loop.index}}]" value="neutral"> Neutral <br>
		<input type="radio" name="opinion[{{loop.index}}]" value="disagree"> Disagree <br>
		<input type="radio" name="opinion[{{loop.index}}]" value="stronglyDisagree"> Strongly Disagree <br>
		{%endfor%}
		<br>
		<input type="submit" value="Submit"/>
		</form>
{%endblock%}
